body {
    font-family: 'Caveat Brush', cursive;
    /* background-image: url("myProfilePic.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background: linear-gradient(9deg, #b98c50, #667dbb) fixed;
}
  /* What kind of selector is this? */
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }

  header {
    display: flex;
    /* grid-template-columns: 40% 60%; */
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 30% 40% 30%; */
  }

  .header-flex {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    
  }

  h1 {
    color:rgb(228, 28, 28);
    /* justify-content: center; */
    /* grid-column: 2/3; */
    margin-left: -20px;
    margin-top: 5px;
    /* border-bottom: 2px solid #1940A9;; */
  }



  h2 {
    /* grid-column: 2/3; */
    /* margin: 3% auto; */
    margin-left: 60px;
    /* margin-top: auto; */
    font-style: italic;
  }

 

  /* This is an element within and element selector */ 
  nav > a {
    margin: auto;
    height: 10%;
    width: 15%;
    color: rgb(255, 0, 13);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    text-align: center;
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #09b6f0;
    background: none;
    padding: 30px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* padding-right: 2%; */
  }
  /* This is an ID selector */
  #profile-pic {
    width: 30%;
    height: 300px;
    border-radius: 50%;
    /* margin: 15% auto;   */
    /* grid-column: 2/3;  */
    background-attachment: fixed;

  }



  .small-text {
    grid-column: 2/3;
    color: black;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    /* grid-column: 2/3; */
    margin: auto;
    width: auto;
    height: auto;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    /* padding: 20px;
    padding-bottom: 5%; */
    text-align: center;
    color: black;
    /* letter-spacing: 16px; */
    /*font-style: italic;*/
  }