body {
    height: 500px;
    /* width: 500px; */
    background: url("fall.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comforter', cursive;

}

.container {
    width:80vw;
    margin:auto;
    height: 80%;
    margin-top: 15%;
    background-color: rgba(224, 95, 36, 0.5);
    display: grid;
    /* grid-template-columns: 30v 30vh 30h 30vh 30vh ; */
   /* grid-template-columns: 300pt 30pt 30pt 30pt 30pt; */
   grid-template-columns: 16% 16% 16% 16% 16%;
   grid-template-rows: 40% 40%;
   grid-template-areas: 
        "one one two three four"
        "one one five six seven";
    justify-items: center;
}

.first-box {
    grid-area: one;
    width:20vw;
    height: 100%;
    /* background-color: red; */
    /* padding: 50%;
    box-sizing: border-box; */
}

h1 {
    text-align: center;
    margin-top: 45%;
    margin-left: 35%;
    font-size: 50px;
    color: white;
}

.small-box-1 {
    background-color: rgb(196, 43, 119,0.7);
    grid-area: two;
    width:13vw;
    height: 100%;
    margin-top: 40px;
    margin-left: 15vw;
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
   

}

.small-box-2 {
    background-color: rgb(142, 196, 61,0.7);
    grid-area: three;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-left: 20vw;
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
   
}

.small-box-3 {
    background-color: rgb(55, 214, 214,0.7);
    grid-area: four;
    width:13vw;
    height: 100%;
    margin-top: 40px;
    margin-left: 25vw;  
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white; 
}

.small-box-4 {
    background-color: rgb(72, 72, 223,0.7);
    grid-area: five;
    width:100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 15vw;
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
}

.small-box-5 {
    background-color: rgb(153, 130, 28,0.7);
    grid-area: six;
    width:100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 20vw;
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
}

.small-box-6 {
    background-color: rgb(131, 5, 131,0.7);
    grid-area: seven;
    width:100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 25vw; 
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    color: white; 
    
}


@media (max-width:750px) {
    
    body {
        height: auto;
        width: auto;
    
    }
    
    .container {
        width:60%;
        margin:auto;
        height: auto;
        margin-top: 15%;
        background-color: rgba(224, 95, 36, 0.522);
        display: grid;
        /* margin-bottom: -100px; */
        /* grid-template-columns: 30v 30vh 30h 30vh 30vh ; */
       /* grid-template-columns: 300pt 30pt 30pt 30pt 30pt; */
       grid-template-columns: 0.05fr 1fr 0.05fr;
       grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
       grid-template-areas: 
            "... one ..."
            "... one ..."
            "... two ..."
            "... three ..."
            "... four ..."
            "... five ..."
            "... six ..."
            "... seven ...";
    }
    .first-box {
        grid-area: one;
        width:20vw;
        height: 5vh;
    }
    
    h1 {
        text-align: center;
        font-size: 30px;
        color: white;
        margin: auto;
        margin-top: 20%;
    }
    /* .second-box {
        grid-area: two;
    } */
    
    .small-box-1 {
        background-color: rgb(196, 43, 119,0.7);
        grid-area: two;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -30%;
        /* margin-top: 40px; */
        font-size: 25px;
        text-align: center;
        padding-top: 40px;
        box-sizing: border-box;
        color: white;
       
    }
    
    .small-box-2 {
        background-color: rgb(142, 196, 61,0.7);
        grid-area: three;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -25%;
        /* margin-top: 40px; */
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        box-sizing: border-box;
        color: white;
     
       
    }
    
    .small-box-3 {
        background-color: rgb(55, 214, 214,0.7);
        grid-area: four;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -20%;
        /* margin-top: 40px; */
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        box-sizing: border-box;
        color: white;
      
    }
    
    .small-box-4 {
        background-color: rgb(72, 72, 223,0.7);
        grid-area: five;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -15%;
        /* margin-top: 50px; */
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        box-sizing: border-box;
        color: white;
       
    }
    
    .small-box-5 {
        background-color: rgb(153, 130, 28,0.7);
        grid-area: six;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -10%;
        /* margin-top: 50px; */
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        box-sizing: border-box;
        color: white;
   
    }
    
    .small-box-6 {
        background-color: rgb(131, 5, 131,0.7);
        grid-area: seven;
        width:20vw;
        height: 15vh;
        margin: auto;
        margin-top: -5%;
        /* margin-top: 50px; */
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        box-sizing: border-box;
        color: white;
      
        
    }
    
    
}